@import "tailwindcss";

/* RESET */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

/* SAFE AREA */
body {
  padding-bottom: env(safe-area-inset-bottom);
}

/* INPUT */
.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

/* MAP FIX */
.leaflet-container {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  inset: 0;
}